{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Update Patient</h2>
    
    <form method="POST" enctype="multipart/form-data" class="border p-4 shadow rounded">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.firstname.label_tag }}
                {{ form.firstname }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.lastname.label_tag }}
                {{ form.lastname }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.date_of_birth.label_tag }}
                {{ form.date_of_birth }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.medical_file.label_tag }}
                {{ form.medical_file }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.image.label_tag }}
                {{ form.image }}
            </div>
        </div>

        <div class="mb-3">
            {{ form.doctor.label_tag }}
            {{ form.doctor }}
        </div>

        <button type="submit" class="btn btn-primary">Update Patient</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
